* @maniax89 @noah-eigenfeld @kabeaty @jhpedemonte @ColbyJohnIBM @broulaye @NickMele @hankthewhale

/packages/discovery-components-react/src/components/DocumentPreview/ @JuanNicolasGarcia @broulaye @anibapat @jhpedemonte @ColbyJohnIBM
/packages/discovery-components-react/src/components/CIDocument/ @JuanNicolasGarcia @broulaye @anibapat @jhpedemonte @ColbyJohnIBM
