{
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:cypress/recommended"
  ],
  "plugins": ["react", "jsx-a11y", "prettier", "cypress", "no-only-tests"],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-only-tests/no-only-tests": "error",
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "(useDeepCompareMemo|useDeepCompareCallback|useDeepCompareEffect)"
      }
    ]
  }
}
