{
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:cypress/recommended"
  ],
  "plugins": ["react", "jsx-a11y", "prettier", "cypress"],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
