$result-background: white;
$result-element-max-height: 100px;
$result-table-fade-size: 40px;
$result-table-fade-offset: calc(#{$result-element-max-height} - #{$result-table-fade-size});

.#{$prefix}--search-results__header {
  display: flex;
  align-items: center;
}

.#{$prefix}--search-results__header__title__text {
  @include type-style('body-short-01');
}

.#{$prefix}--search-results__header__title__query {
  @include type-style('heading-01');
  margin-left: $spacing-02;

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }
}

.#{$prefix}--search-result--loading {
  padding: $spacing-06;

  .#{$prefix}--skeleton__text {
    height: $spacing-04;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.#{$prefix}--search-result {
  @include box-shadow;
  background-color: $result-background;
  margin: $layout-01 0;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

.#{$prefix}--spelling-suggestion__wrapper {
  @include type-style('label-01');
  align-items: center;
  display: flex;
  padding: 0;
  color: $text-02;

  .#{$prefix}--spelling-suggestion {
    @include type-style('label-01');
    color: $link-02;
    min-height: 0;
    padding: 0;
    margin-left: $spacing-02;
  }
}

.#{$prefix}--search-result--toggle {
  flex-direction: row;
  justify-content: flex-end;

  .#{$prefix}--toggle__switch {
    margin: 0 $spacing-08 0 $spacing-03;
  }

  .#{$prefix}--toggle-input__label {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}

.#{$prefix}--search-result__content-wrapper {
  display: flex;
  flex-direction: column;
  .#{$prefix}--tile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: $spacing-05 0 $spacing-05 0;
    margin-right: $spacing-05;
    margin-left: $spacing-05;
    border-top: 1px solid $ui-03;

    &:first-child {
      padding-top: $spacing-05;
      border-top: none;
    }

    &:last-child {
      pading-bottom: $spacing-05;
    }
  }
}

.#{$prefix}--search-result__content-wrapper__body {
  @include type-style('body-long-01');

  flex-grow: 2;
  max-height: $result-element-max-height;
  overflow: hidden;
  padding-right: $spacing-07;
  position: relative;
}

.#{$prefix}--search-result__content-wrapper__body--passage {
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

.#{$prefix}--search-result__content-wrapper__body--passage__highlights {
  em {
    background-color: $highlight;
    font-style: normal;
    padding: 0 $spacing-02;
  }
}

.#{$prefix}--search-result__content-wrapper__body--table {
  &:before {
    content: '';
    position: absolute;
    top: $result-table-fade-offset;
    left: 0;
    height: $result-table-fade-size;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), white);
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: $result-table-fade-size;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), white);
  }
  table,
  tbody,
  tr,
  th,
  td {
    border: 2px solid black;
    text-align: left;
  }
  th,
  td {
    padding: $spacing-03;
  }
}

.#{$prefix}--search-result__content-wrapper__body__button {
  display: flex;
  flex-direction: row-reverse;
  font-size: 0.75rem;
  min-height: 0;
  padding: 0;
  margin-top: $spacing-03;
  span {
    flex-grow: 2;
    padding-left: $spacing-03;
  }

  .#{$prefix}--btn__icon {
    margin-left: 0;

    path {
      fill: $link-01;
    }
  }
}

.#{$prefix}--search-result__footer {
  border-top: 1px solid $ui-03;
  padding-left: $spacing-05;
  padding-right: $spacing-05;
  color: $gray-60;
  font-size: $spacing-04;
  display: flex;
  justify-content: space-between;

  > * {
    padding-top: $spacing-05;
    padding-bottom: $spacing-05;
  }
}

.#{$prefix}--search-result__footer__title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: $spacing-06;
}

.#{$prefix}--search-result__footer__collection-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.#{$prefix}--search-results__empty-list {
  @include type-style('body-short-02');
  padding: $spacing-05;
  color: $ui-05;

  .#{$prefix}--search-results__empty-list__text {
    @include type-style('caption-01');
    margin-top: $spacing-03;
  }
}
