$result-background: white;

.#{$prefix}--search-result {
  @include layer('overlay');
  border-left: 0.3rem solid $result-background;
  background-color: $result-background;
  padding: $spacing-05;
  margin: $layout-01 0;
  border-radius: rem(4px);
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

  em {
    color: $text-04;
    background-color: $support-02;
    font-style: normal;
    padding: 0 $spacing-02;
    border-radius: rem(2px);
  }
}

.#{$prefix}--search-result_selected {
  border-left: 0.3rem solid $interactive-04;
}

.#{$prefix}--search-result--body {
  max-width: 560px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.#{$prefix}--search-result--title {
  padding-top: $spacing-05;
  color: $text-02;
  font-size: 0.75rem;
  display: flex;
  align-items: center;

  svg {
    margin-right: $spacing-03;
  }
}
