$result-background: white;
$result-element-max-height: 100px;
$result-table-fade-size: 40px;
$result-table-fade-offset: calc(#{$result-element-max-height} - #{$result-table-fade-size});

.#{$prefix}--search-result {
  @include layer('overlay');
  background-color: $result-background;
  padding: $spacing-05;
  margin: $layout-01 0;
  border-radius: rem(4px);
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.#{$prefix}--search-result__element {
  display: flex;
  .#{$prefix}--tile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.#{$prefix}--search-result__element--half {
  .#{$prefix}--tile {
    width: 50%;
  }
}

.#{$prefix}--search-result__element__body {
  flex-grow: 2;
  max-height: $result-element-max-height;
  overflow: hidden;
  padding-right: $spacing-xl;
  position: relative;

  @include type-style('body-short-01');
}

.#{$prefix}--search-result__element__body--passage {
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

.#{$prefix}--search-result__element__body--passage__highlights {
  em {
    color: $text-04;
    background-color: $support-02;
    font-style: normal;
    padding: 0 $spacing-02;
    border-radius: rem(2px);
  }
}

.#{$prefix}--search-result__element__body--table {
  &:before {
    content: '';
    position: absolute;
    top: $result-table-fade-offset;
    left: 0;
    height: $result-table-fade-size;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), white);
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: $result-table-fade-size;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), white);
  }
  table,
  tbody,
  tr,
  th,
  td {
    border: 2px solid black;
    text-align: left;
  }
  th,
  td {
    padding: $spacing-xs;
  }
}

.#{$prefix}--search-result__element__body__button {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  span {
    flex-grow: 2;
    padding-left: $spacing-md;
  }
  &:hover {
    background-color: white;
    text-decoration: underline;
  }
}

.bx--btn--ghost .bx--btn__icon path {
  fill: $link-01;
}

.#{$prefix}--search-result__footer {
  border-top: 1px solid $ui-03;
  padding-top: $spacing-05;
  color: $text-02;
  font-size: $spacing-sm;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.#{$prefix}--search-result__footer__title {
  display: flex;
  align-items: center;

  svg {
    margin-right: $spacing-03;
  }
}

.#{$prefix}--search-result__footer__collection-name {
  margin-left: $spacing-05;
}
