.#{$prefix}--search-result--selected {
  border-left: 0.3rem solid $interactive-04;
}

.#{$prefix}--search-result {
  @include layer('raised');

  margin: $spacing-07;
  em {
    background-color: $support-02;
    font-style: normal;
  }
}
