// Keep tooltip top-level
$tooltip-content-z-index: 50;

// Override so that tooltip content does not have max width
// Include the original content from Carbon design
.bx--tooltip--shown {
  max-width: unset;
  display: block;
  margin-top: 0;
}

.#{$prefix}--tooltip-place-content {
  position: absolute;
  z-index: $tooltip-content-z-index;
  pointer-events: none;
}

.#{$prefix}--tooltip-custom-content {
  text-align: left;
  @include type-style('label-01');
}

.#{$prefix}--tooltip-content-header {
  @include type-style('heading-01');
  margin-bottom: $spacing-03;
}

.#{$prefix}--tooltip-box-color {
  flex: 0 0 auto;
  width: $spacing-05;
  height: $spacing-05;
  margin-right: $spacing-03;
  border-radius: 3px;
  display: inline-block;
}

.#{$prefix}--tooltip-content-cell {
  vertical-align: top;
  padding: 5px;
}

.#{$prefix}--tooltip-content-divider {
  border-bottom: 1px solid #7a7979;
}

// Create spacing between Category and Value in table
.#{$prefix}--tooltip-content-cell-buffer {
  margin-right: $spacing-06;
}
