@import '~carbon-components/scss/components/tabs/tabs';

.#{$prefix}--semantic-doc-view {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.#{$prefix}--semantic-doc-view__toolbar {
  flex: 0 0;
  width: 100%;
  display: flex;
}

.#{$prefix}--semantic-doc-view__title {
  font-size: 1.2em;
  line-height: 2;
  display: inline-block;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.#{$prefix}--semantic-doc-view__nav {
  display: inline-block;
  min-width: 200px;
  text-align: center;
}

.#{$prefix}--semantic-doc-view__title,
.#{$prefix}--semantic-doc-view__rightGutter {
  flex: 1 0 0;
  min-width: 0;
}

.#{$prefix}--semantic-doc-view__main {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  overflow: hidden;
}

.#{$prefix}--semantic-doc-view__filters,
.#{$prefix}--semantic-doc-view__details {
  width: 12rem;
}

.#{$prefix}--semantic-doc-view__filters {
  overflow-y: auto;
}

.#{$prefix}--semantic-doc-view__doc {
  flex: 1 1 auto;
}

.#{$prefix}--semantic-doc-view__tabs a,
.#{$prefix}--semantic-doc-view__tabs a:active,
.#{$prefix}--semantic-doc-view__tabs a:focus {
  width: auto;
}
