.#{$prefix}--semantic-doc-toolbar__text {
  margin: $spacing-xs $spacing-xs 0 $spacing-xs;
  text-align: center;
  display: inline-block;
  min-width: 70px; // To prevent shifting of buttons when number change
}

.#{$prefix}--semantic-doc-toolbar__button {
  border: 1px solid $ui-04;

  .#{$prefix}--btn__icon {
    // override carbon
    margin: 0;
  }

  &:focus {
    outline: none;
  }
}
