@import '~carbon-components/scss/components/checkbox/_checkbox.scss';
@import '~carbon-components/scss/components/multi-select/_multi-select.scss';

.#{$prefix}--search-refinement {
  margin-bottom: $spacing-md;
}

.#{$prefix}--search-refinement__refinement__label {
  color: $ui-05;
  font-size: 0.75rem;
}

.#{$prefix}--form-item.#{$prefix}--checkbox-wrapper.#{$prefix}--search-refinement__refinement__option {
  margin-bottom: rem(6px);
}

.#{$prefix}--search-refinement__refinement__option-label {
  @include type-style('body-short-02');
  color: $ui-05;
}
