@import './pdfjs_web_mixins';
@import '../../vars';
@import './mixins';

.#{$prefix}--document-preview-pdf-viewer {
  display: flex;
  justify-content: center;
}

.#{$prefix}--document-preview-pdf-viewer__wrapper {
  position: relative;
  @include pdfjsTextLayer;
}

.#{$prefix}--document-preview-pdf-viewer__canvas {
  transform-origin: left top 0px;
}

.#{$prefix}--document-preview-pdf-viewer__text {
  transform-origin: left top 0px;
}

.#{$prefix}--document-preview-pdf-viewer-highlight {
  position: absolute;
  transform-origin: left top 0px;
  top: 0;
  left: 0;
}

.#{$prefix}--document-preview-pdf-viewer-highlight__item {
  position: absolute;
  opacity: 20%;
  background: darken(saturate($highlight, 50%), 40%);
}

.#{$prefix}--document-preview-pdf-viewer-highlight__item--active {
  position: absolute;
  opacity: 35%;
  background: darken(saturate($highlight, 50%), 50%);
}
