@import '~carbon-components/scss/components/button/button';
@import '~carbon-components/scss/components/tooltip/tooltip';

.#{$prefix}--preview-toolbar {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  height: $spacing-2xl;
}

.#{$prefix}--preview-toolbar__nav {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.#{$prefix}--preview-toolbar__button {
  padding-left: $spacing-xs !important;
  padding-right: $spacing-xs !important;
}

.#{$prefix}--preview-toolbar__input {
  text-align: center;
  max-width: $layout-lg;
  height: $spacing-xl;
}

// removes number wheel buttons from input (chrome and safari)
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// removes number wheel buttons from input (firefox)
input[type='number'] {
  -moz-appearance: textfield;
}

.#{$prefix}--preview-toolbar__pageLabel {
  margin: auto;
  padding-left: $spacing-xs;
  padding-right: $spacing-xs;
}

.#{$prefix}--preview-toolbar__spacer,
.#{$prefix}--preview-toolbar__zoom {
  flex: 1 1 50%;
}

.#{$prefix}--preview-toolbar__zoom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: $spacing-md;
}
