@import '../../vars';

.#{$prefix}--document-preview {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.#{$prefix}--document-preview__skeleton {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: $spacing-08;
  margin-top: $layout-lg;
  background-color: white;
}

.#{$prefix}--document-preview__document {
  position: relative;
  overflow: auto;
}

.#{$prefix}--document-preview__document > * {
  width: 100%;
}

.#{$prefix}--document-preview__error {
  text-align: center;
  margin: $spacing-08;
}
