.#{$prefix}--document-preview {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.#{$prefix}--preview__document {
  position: relative;
  overflow: scroll;
}

.#{$prefix}--preview__document > * {
  width: 100%;
}

.#{$prefix}--document-preview__highlight-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.#{$prefix}--document-preview__highlight {
  fill: yellow;
  fill-opacity: 0.25;
}
