.#{$prefix}--search-facets__button-clear-all {
  .#{$prefix}--btn__icon {
    margin-left: $spacing-02;
  }
}

.#{$prefix}--search-facet__facet__show-more-modal {
  .#{$prefix}--modal-header {
    padding-right: $spacing-05;

    .#{$prefix}--search {
      padding-top: $spacing-03;
    }
  }

  .#{$prefix}--modal-content {
    height: 40vh;
  }
}

.#{$prefix}--search-facets {
  .#{$prefix}--search-facet__category {
    .#{$prefix}--search-facet__category--category-name {
      @include type-style('body-short-02');
      font-size: 0.875rem;
    }
    margin-bottom: $spacing-03;
    padding-left: $spacing-baseline;
  }
  .#{$prefix}--search-facet__category--expand-collapse {
    background-color: $ui-01;
    color: $ui-05;
    height: $spacing-06;
    margin-bottom: $spacing-03;
    min-height: $spacing-06;
    padding: 0px;
    transition: none;
    width: 100%;
    &:hover {
      background-color: $ui-01;
      text-decoration: none;
    }
  }
}

.#{$prefix}--search-facet {
  margin-bottom: $spacing-05;
  word-break: break-word;

  // To prevent tags text from breaking inside of search facet
  .#{$prefix}--tag--filter {
    word-break: normal;
  }
}

.#{$prefix}--search-facet__facet__label-and-selection-container {
  align-items: center;
  display: flex;
}

.#{$prefix}--search-facet__facet__label {
  color: $text-02;
  font-size: 0.75rem;
  height: 1.5rem;

  .#{$prefix}--list-box__selection {
    margin-left: $spacing-03;
  }
}

.#{$prefix}--search-facet__facet__single__select__group {
  margin-bottom: 0.5rem;
}

.#{$prefix}--form-item.#{$prefix}--checkbox-wrapper.#{$prefix}--search-facet__facet__option {
  margin-bottom: 0;
}

.#{$prefix}--search-facet__facet__option-label {
  @include type-style('body-short-02');
  align-items: center;
  color: $ui-05;
  display: flex;
}
