@import '~carbon-components/scss/components/checkbox/checkbox';
@import '~carbon-components/scss/components/multi-select/multi-select';
@import '~carbon-components/scss/components/radio-button/radio-button';
@import '~carbon-components/scss/components/modal/modal';

.#{$prefix}--search-facets__button-clear-all {
  .#{$prefix}--btn__icon {
    margin-left: $spacing-2xs;
  }
}

.#{$prefix}--search-facet__facet__show-more-modal {
  .#{$prefix}--modal-content {
    height: 250px;
  }
}

.#{$prefix}--search-facets {
  .#{$prefix}--search-facet__category {
    .#{$prefix}--search-facet__category--category-name {
      @include type-style('body-short-02');
      font-size: 0.875rem;
    }
    margin-bottom: $spacing-xs;
    padding-left: $spacing-baseline;
  }
  .#{$prefix}--search-facet__category--expand-collapse {
    background-color: $ui-01;
    color: $ui-05;
    height: $spacing-lg;
    margin-bottom: $spacing-xs;
    min-height: $spacing-lg;
    padding: 0px;
    transition: none;
    width: 100%;
    &:hover {
      background-color: $ui-01;
      text-decoration: none;
    }
  }
}

.#{$prefix}--search-facet {
  margin-bottom: $spacing-md;
  word-break: break-word;

  // To prevent tags text from breaking inside of search facet
  .#{$prefix}--tag--filter {
    word-break: normal;
  }
}

.#{$prefix}--search-facet__facet__label-and-selection-container {
  align-items: center;
  display: flex;
}

.#{$prefix}--search-facet__facet__label {
  color: $ui-05;
  font-size: 0.75rem;
  height: 1.5rem;

  .#{$prefix}--list-box__selection {
    margin-left: $spacing-xs;
  }
}

.#{$prefix}--search-facet__facet__single__select__group {
  margin-bottom: 0.5rem;
}

.#{$prefix}--form-item.#{$prefix}--checkbox-wrapper.#{$prefix}--search-facet__facet__option {
  margin-bottom: 0;
}

.#{$prefix}--search-facet__facet__option-label {
  @include type-style('body-short-02');
  color: $ui-05;
}
