@import '~carbon-components/scss/components/pagination/pagination';

.#{$prefix}--pagination__page-size-selector--hidden {
  .#{$prefix}--pagination__left {
    padding: 0;

    label,
    .#{$prefix}--select {
      display: none;
    }
  }
}
