body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// Global styles
@import 'carbon-components/scss/globals/scss/_css--font-face.scss';
@import 'carbon-components/scss/globals/scss/_colors.scss';

// Component styles
@import 'carbon-components/scss/components/search/_search.scss';
