.#{$prefix}--search-input--discovery {
  padding: 0;
  position: relative;
}

.#{$prefix}--search-autocompletion {
  @include box-shadow;
  left: $spacing-06;
  position: absolute;
  right: $spacing-06;
  z-index: z('overlay');
}

.#{$prefix}--search-autocompletion__wrapper {
  @include type-style('body-short-01');
  color: $gray-70;
  border-bottom-color: $ui-03;
  width: 100%;

  &:last-of-type {
    border-bottom: none;
  }
}

.#{$prefix}--search-autocompletion__item {
  align-items: center;
  display: flex;
  padding: 0 $spacing-05;

  &:focus {
    border: none;
    position: relative;
    z-index: z('overlay');
  }
}

.#{$prefix}--search-autocompletion__term {
  padding: $spacing-04 0 $spacing-03 0;
}

.#{$prefix}--search-autocompletion__icon {
  padding: $spacing-04 $spacing-05 $spacing-03 0;

  svg {
    fill: $interactive-04;
  }
}
