.#{$prefix}--ci-doc {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-width: 800px;
  background-color: $ui-background;

  .#{$prefix}--ci-doc__toolbar {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    height: $spacing-09;
    min-height: $spacing-09;
    align-items: center;
    justify-content: space-between;
    background-color: $ui-01;

    .#{$prefix}--ci-doc__title {
      padding: 0 $spacing-05;
      font-size: 1.2em;
      line-height: 2;
      display: inline-block;
      font-weight: lighter;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .#{$prefix}--ci-doc__nav {
    display: inline-block;
    min-width: 150px;
    text-align: center;
  }

  .#{$prefix}--ci-doc__title,
  .#{$prefix}--ci-doc__rightGutter {
    flex: 1 0 0;
    min-width: 0;
  }

  .#{$prefix}--ci-doc__main {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    overflow: hidden;
  }

  .#{$prefix}--ci-doc__sidebar,
  .#{$prefix}--ci-doc__details {
    width: 14rem;
  }

  .#{$prefix}--ci-doc__sidebar {
    display: flex;
    flex-direction: column;

    & > *:not(.#{$prefix}--ci-doc__tabs) {
      flex: 1;
      overflow-y: auto;
    }

    .bx--tabs__nav {
      width: 100%;

      .bx--tabs__nav-item {
        flex: 1;

        .bx--tabs__nav-link {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .#{$prefix}--ci-doc__doc {
    flex: 1 1 auto;
    border-left: 1px solid $ui-03;
    border-right: 1px solid $ui-03;
  }

  .#{$prefix}--ci-doc__tabs a,
  .#{$prefix}--ci-doc__tabs a:active,
  .#{$prefix}--ci-doc__tabs a:focus {
    width: auto;
  }
}

.#{$prefix}--ci-doc__docError {
  text-align: center;
  margin: $spacing-08;
}
