.#{$prefix}--ci-doc-toolbar {
  height: 100%;

  .text {
    display: inline-block;
    min-width: 70px; // To prevent shifting of buttons when number change
    text-align: center;
    vertical-align: text-top;
  }

  .button {
    padding: 0;
    height: 100%;

    .#{$prefix}--btn__icon {
      // override carbon
      margin: 0;
    }

    &:focus {
      outline: none;
    }

    svg {
      margin: 0;
    }
  }
}
