name: ci
on: push
env:
  CI: true
jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    name: build
    runs-on: ubuntu-18.04
    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # https://github.com/actions/checkout/issues/217
          fetch-depth: 0
          # do not overwrite github auth in release step
          # https://github.com/lerna/lerna/issues/1957#issuecomment-702396095
          persist-credentials: false
      # https://github.com/actions/checkout/issues/217 pulls all tags (needed for lerna to correctly version)
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
      # https://github.com/actions/setup-node
      - name: Setup Node 12
        uses: actions/setup-node@v2
        with:
          node-version: 12
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Lint
        run: npx lerna run lint --stream
      - name: Build Packages
        run: npx lerna run build --stream --scope '@ibm-watson/*'
      - name: Build Apps
        run: npx lerna run build:app --parallel
      - name: Test
        run: npx lerna run test --stream
      - name: Archive test artifacts
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress
          path: |
            examples/discovery-search-app/cypress/screenshots
      - name: NPM Identity
        if: github.ref == 'refs/heads/master'
        run: |
          echo "npmRegistries:" >> ~/.yarnrc.yml
          echo "  //registry.npmjs.org:" >> ~/.yarnrc.yml
          echo "    npmAuthToken: $NPM_TOKEN" >> ~/.yarnrc.yml
          npm whoami
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Github Identity
        if: github.ref == 'refs/heads/master'
        run: |
          git config --global push.default simple
          git config --global user.email "watdevex@us.ibm.com"
          git config --global user.name "Watson Github Bot"
          git config remote.origin.url https://x-access-token:$GH_TOKEN@github.com/$GITHUB_REPOSITORY
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Publish
        if: github.ref == 'refs/heads/master'
        # must include --no-verify-access for automation tokens https://github.com/lerna/lerna/issues/2788
        run: npx lerna publish -y --no-verify-access --create-release github
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
